# ignore data folders
audio/
clips/
# ignore speechbrain folder
speechbrain/
# ignore model files
nbl_wav2vec2/
nr_whisper/
xh_wav2vec2/
xh_whisper/
zu_wav2vec2/
zu_whisper/
ssw_wav2vec2/
ss_whisper/
nguni_multilingual_zu_xh_wav2vec2/
nguni_multilingual_zu_xh_nbl_ssw_wav2vec2/
nguni_multilingual_zu_xh_wav2vec2/
nguni_multilingual_zu_xh_nbl_wav2vec2/
nguni_multilingual_zu_xh_ssw_wav2vec2/
nguni_multilingual_xh_nbl_ssw_wav2vec2/
nguni_multilingual_xh_nbl_wav2vec2/
nguni_multilingual_xh_ssw_wav2vec2/
nguni_multilingual_nbl_ssw_wav2vec2/
nguni_multilingual_zu_nbl_ssw_wav2vec2/
nguni_multilingual_zu_nbl_wav2vec2/
nguni_multilingual_zu_ssw_wav2vec2/

nguni_multilingual_zu_xh_whisper/
nguni_multilingual_zu_xh_nr_ss_whisper/
nguni_multilingual_zu_xh_whisper/
nguni_multilingual_zu_xh_nr_whisper/
nguni_multilingual_zu_xh_ss_whisper/
nguni_multilingual_xh_nr_ss_whisper/
nguni_multilingual_xh_nr_whisper/
nguni_multilingual_xh_ss_whisper/
nguni_multilingual_nr_ss_whisper/
nguni_multilingual_zu_nr_ss_whisper/
nguni_multilingual_zu_nr_whisper/
nguni_multilingual_zu_ss_whisper/

processed_arrow/
merged_audio/